body{
    background-color:#0e0c0a;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 17px
}

*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template: 5% 90% 5% / 8% 84% 8%;
    justify-items: center;
}

.p1{color: #f50202;}

.p1>h1{margin-top: 120px; text-align: center;}

.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 1s ;
	        animation: scale-up-ver-center 1s ;
}

@-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }  
  
.redes{margin-top: 250px;}

.redes>a{ margin-right: 50px;}

header{
    max-width: 100vw;
    box-sizing: border-box;
    background-color: #f50205;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
}

#menu{display: flex;}

#menu>a{margin-right: 40px; text-decoration: none; color: white;}

a>li{list-style: none;}


.contato{display: flex;}

.imagens{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.educa{
    width: 90vw;
    background-color: seashell;
    color: #0e0c0a;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.lado{margin-bottom: 10px;}

.t{display: flex;}

.ta{
    margin-top: auto;
    margin-bottom: auto;
}

.J{background-color: seashell;}

.titulo{
    text-align: center;
    padding: 20px;
}

.texto{
    width: 90vw;
    margin: auto;
}

ol{
    margin-left: 19px;
}
.container2{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    justify-items: center;
    padding: 30px;
    gap: 30px;
    text-align: center;
}

.todo{
    background-color: seashell;
    color: #0e0c0a;
    padding: 10px;
}
.meto{
    width: 90vw;
    margin: auto;
}

.sala{
    display: flex;
}

.meto>*{padding: 10px;}

.meto>h3,h1{text-align: center;}

footer{
    background-color: #f50202;
}

footer>h1{text-align: center; padding: 10px;}
.espaco{
    display: grid;
    grid-template: auto /  auto auto auto auto;
    justify-items: center;
    padding: 20px;
}
.endereco{
    margin: auto;
}
.endereco>ul{list-style: none;}
input{
    width: 200px;
}

#mostrar{display: none;}

@media screen and (max-width: 895px) {

    .espaco{
        display: grid;
        grid-template: auto auto auto auto /  auto;
        justify-items: center;
        gap: 20px;
        padding: 20px;
    }

    .p1>h1{ font-size: 20px; text-align: center; margin-top: -10px;}

    .redes{margin-top: 0px; width: 10px;}

    .imag{width: 120px;}
    
    header{
        
        max-width: 100%;
        background-color: #f50205;
        padding: 10px;
    }
    #menu>a{margin-top: auto; margin-bottom: auto; text-decoration: none; color: white; margin-top: 20px;}

    .t{display: flex; flex-direction: column; align-items: center;}

    .container{
        display: grid;
        grid-template: auto auto auto / auto auto auto;
        justify-items: center;
    }

    #mostrar{display: block;}

    #menu{ 
        display: none;
    }
    
    #nav.ativado #menu{
        display: block;
    }
    

}

#menu>a:hover{
    font-size: larger;
    border: 2px;
    background-color: black;
    color: red;
    border-radius: 8px;
    padding: 5px;
}
desenvolvedor{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    color: red;
    font-size: 16px;
}
.desenvolvedor>h1{text-align: center;}
